.LogForm{
    background-color:#2d77cc;
    border-radius: 2em;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}
@media screen and (max-width: 1200px) {
    .LogForm { 
        width: 80%;
        height:33%;
    }
}

@media screen and (min-width: 1200px) {
    .LogForm {
        width:  10%;

        padding: 7rem 10rem 10rem 10rem;
    }
}
.LogForm-input{
    border: none;
    border-radius: 1em;
    padding: 4px;
    background-color: white;
    color:#2d77cc !important;
	font-size: 14px;
	text-decoration: none;
    margin:0 auto 10px auto;
}
.LogForm-input:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.LogForm-button {
    margin-top:3rem;
    border-radius: 0.5em;
	border: 2px solid  #FFFFFF;
	background-color:  #FFFFFF !important;
	color:  #4791e6 !important;
	font-size: 1rem;
	padding: 12px 12px;
    letter-spacing: 1px;
    font-weight: bold;
	text-transform: uppercase;
	transition: transform 150ms ease-in;
}
.LogForm-button:hover{
    transform: scale(1.1842069);
}
.LogForm-button:active {
	transform: scale(0.95);
}

.LogForm-button:focus {
	outline: none;
}
.LogForm-button{
    background-color: transparent;
	border-color: #FFFFFF;
}